@import "tailwindcss";

@font-face {
  font-display: swap; 
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans-v17-latin-regular.woff2') format('woff2'); 
}
/* fira-sans-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/fira-sans-v17-latin-500.woff2') format('woff2'); 
}
/* fira-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/fira-sans-v17-latin-600.woff2') format('woff2');
}

@theme {
	--color-gradient-btn: linear-gradient(90deg, rgba(255, 247, 148, 1) 0%, rgba(69, 177, 128, 1) 50%, rgba(255, 247, 148, 1) 100%);
	--color-secondary-50: hsl(155, 50%, 95.3%);
	--color-secondary-100: hsl(143, 57.1%, 89%);
	--color-secondary-200: hsl(153, 49.1%, 78.4%);
	--color-secondary-300: hsl(153, 50%, 68.6%);
	--color-secondary-400: hsl(153, 49.7%, 62.5%);
	--color-secondary-500: hsl(153, 49.8%, 53.1%);
	--color-secondary-600: hsl(153, 43.9%, 48.2%);
	--color-secondary-700: hsl(153, 43.7%, 37.6%);
	--color-secondary-800: hsl(153, 43.6%, 29.2%);
	--color-secondary-900: hsl(149, 54.9%, 20%);

	--color-primary-50: hsl(60, 63.6%, 97.8%);
	--color-primary-100: hsl(56, 100%, 93.5%);
	--color-primary-200: hsl(55, 100%, 90.4%);
	--color-primary-300: hsl(56, 100%, 85.9%);
	--color-primary-400: hsl(56, 100%, 83.1%);
	--color-primary-500: hsl(56, 100%, 79%);
	--color-primary-600: hsl(56, 67.8%, 72%);
	--color-primary-700: hsl(55, 33.9%, 56.1%);
	--color-primary-800: hsl(56, 26.7%, 43.3%);
	--color-primary-900: hsl(56, 26.6%, 33.1%);

	--color-brand-gray-50: hsl(240, 2.9%, 93.1%);
	--color-brand-gray-100: hsl(240, 1.8%, 78.4%);
	--color-brand-gray-200: hsl(240, 2.4%, 67.8%);
	--color-brand-gray-300: hsl(240, 2.1%, 53.1%);
	--color-brand-gray-400: hsl(240, 2.7%, 43.9%);
	--color-brand-gray-500: hsl(240, 4.6%, 30%);
	--color-brand-gray-600: hsl(240, 5%, 27.3%);
	--color-brand-gray-700: hsl(240, 4.6%, 21.4%);
	--color-brand-gray-800: hsl(240, 4.8%, 16.5%);
	--color-brand-gray-900: hsl(240, 3.6%, 11%);

	--color-brand-text-area: hsl(102, 18%, 88%);
	--color-chat-background: hsl(60 95% 99.5%);
	--brand-gradient: linear-gradient(to bottom, hsl(55, 75.9%, 57.6%) 0%, hsl(153, 46.9%, 41.4%) 50%, hsl(55, 75.9%, 57.6%) 100%);
	--animate-rotate: rotate 2.5s linear infinite;

	--font-family-sans: 'Fira Sans', sans-serif;
	@keyframes rotate {
		100% {
			transform: rotate(1turn);
		}
	}	
}


@layer base {
	body {
		font-size: 1.125rem;
		font-family: var(--font-family-sans);
	}

	p, a, li {
		text-wrap: pretty;
	}
}
@layer components {
	.user-message-li {
    	@apply self-end pl-6 lg:pl-40 pb-6 md:pb-11;
  	}
	.user-message-p {
    	@apply rounded-4xl leading-[1.6] lg:leading-[1.7] px-6 md:px-8 py-3 md:py-4;
  	}
	.coral-message-li {
    	@apply self-start flex flex-col gap-4 items-start md:gap-6 pb-6 leading-[1.7] md:flex-row md:pr-10;
  	}
}
@layer utilities {
	.wrapper {
		width: min(100% - 2rem, 70.5rem);
		margin-inline: auto;
	}
}

